<div class="container">
    <header class="lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
            </div>
            <div class="col-4 text-center fs-3">
                <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Market 12 -
                    Fundamental</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis active" href="#">Stock/Share</a>
            <a class="nav-item nav-link link-body-emphasis" routerLink="/nse">NSE</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">BSE</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">ETF</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Mutual Fund</a>
            <a class="nav-item nav-link link-body-emphasis" routerLink="/fundamental">Fundamental</a>
            <a class="nav-item nav-link link-body-emphasis" href="#"></a>
            <a class="nav-item nav-link link-body-emphasis" href="#"></a>
            <a class="nav-item nav-link link-body-emphasis" href="#"></a>
            <a class="nav-item nav-link link-body-emphasis" href="#">About Us</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Contact Us</a>
        </nav>
    </div>
</div>