<div class="container">
    <header class="lh-1 py-3 border-bottom">
        <div class="row">
            <div class="col-4 fs-3">
                <a class="text-decoration-none link-danger" href="#">Finance 12</a>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                <nav class="nav justify-content-end">
                    <a class="nav-link link-body-emphasis text-primary-emphasis" style="margin-right: 10px;" *ngIf="!auth.currentUser" routerLink="/login" routerLinkActive="active">Login</a>
                    <a class="nav-link link-body-emphasis text-primary-emphasis" *ngIf="!auth.currentUser" routerLink="/signup" routerLinkActive="active">Sign-up</a>
                    <a class="nav-link link-body-emphasis text-primary-emphasis"  *ngIf="auth.currentUser" routerLink="/user" routerLinkActive="active">{{auth.currentUser.name}}</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="container lh-1 py-3">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/finance"  routerLinkActive="active">Home</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/psychology"  routerLinkActive="active">Investment Psychology</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/mutual-fund"  routerLinkActive="active">Mutual Fund</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/fundamental"  routerLinkActive="active">Income Tax</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/etf"  routerLinkActive="active">ETF</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/mf-screener"  routerLinkActive="active">Screener</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/planning"  routerLinkActive="active">Planning</a>
        </nav>
    </div>
    
</div>