<div class="container">
    <header class="lh-1 py-3 border-bottom">
        <div class="row">
            <div class="col-4 fs-3">
                <a class="text-decoration-none link-danger" href="#">Finance 12</a>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
        </div>
    </header>

    <div class="container lh-1 py-3">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" href="#">Home</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/mutual-fund">Mutual Fund</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/fundamental">Fundamentals</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/psychology">Investment Psychology</a>
            <a class="nav-item nav-link link-body-emphasis text-primary-emphasis" routerLink="/nse-bse">NSE/BSE</a>
        </nav>
    </div>
    
</div>