<footer class="footer">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h5>About Us</h5>
                <p>This page is designed to tell you why to Investment in Stock Market. And how to make 12% to 15%
                    return anually.</p>
            </div>
            <div class="col-md-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-body-emphasis text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-body-emphasis text-decoration-none">About Us</a></li>
                    <li><a href="#" class="text-body-emphasis text-decoration-none">Services</a></li>
                    <li><a href="#" class="text-body-emphasis text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <p>123 Street, City</p>
                <p>Email: example@example.com</p>
                <p>Phone: 123-456-7890</p>
            </div>
        </div>
        <p class="text-center">© 2023 Your Website. All rights reserved.</p>
    </div>
</footer>