<footer class="footer">
    <div class="container">
        <hr>
        <p class="text-center">© 2023 Your Website. All rights reserved.</p>
        <p class="fw-lighter">Disclamer :
        </p>
        <p class="fw-lighter">The stocks mentioned in this article are not recommendations. Please conduct
            your own research and
            due diligence before investing. Investment in securities market are subject to market risks, read all the
            related document carefully before investing. Please read the Risk Disclosure documents carefully before
            investing in Equity Shares, Derivatives, Mutual Fund, and/or other instruments traded on the Stock
            Exchanges. As Investments are subject to market risks and price fluctuation risk, there is no assurance or
            guarantee that the investment objectives shall be achieved. NBT do not guarantee any assured returns on any
            investments.
            Past performance of securities/instruments is not indicative of their future performance.</p>

        <p class="fw-lighter">
            Risk Discloser for Futures and Options :
        </p>
        <p class="fw-lighter">
            9 out of 10 individual traders in equity Futures and Options segment, incurred net losses.
            On an average, loss makers registered net trading loss close to Rs 50,000.
            Over and above the net trading losses incurred, loss makers expended an additional 28% of net trading losses
            as transaction costs.
            The making net trading profits, insured between 15% to 50% of such profits as transaction cost.
        </p>
    </div>
</footer>