<footer class="footer">
    <div class="container">
        <hr>
        <p class="text-center">© 2023 Your Website. All rights reserved.</p>
        <p class="fw-lighter">Disclamer: The stocks mentioned in this article are not recommendations. Please conduct your own research and
            due diligence before investing. Investment in securities market are subject to market risks, read all the
            related document carefully before investing. Please read the Risk Disclosure documents carefully before
            investing in Equity Shares, Derivatives, Mutual Fund, and/or other instruments traded on the Stock
            Exchanges. As Investments are subject to market risks and price fluctuation risk, there is no assurance or
            guarantee that the investment objectives shall be achieved. NBT do not guarantee any assured returns on any
            investments.
            Past performance of securities/instruments is not indicative of their future performance.</p>
    </div>
</footer>