<div class="container mt-4">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
        <div class="card-body">
            <h4 class="card-title text-center mb-4 fst-italic">User Detail</h4>
            <div *ngIf="auth.currentUser; else noUser">
                <p><strong>Name:</strong> {{auth.currentUser.name}}</p>
                <p><strong>Email:</strong> {{auth.currentUser.email}}</p>
                <button (click)="auth.logout()">Logout</button>
            </div>
            <ng-template #noUser>
                <p>You are not logged in.</p>
            </ng-template>
        </div>
    </div>
</div>