<div class="container">
    <div class="row py-5">
        <div class="col-3">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-5 fw-semibold"></span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="true">
                        Investment Psychology
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a class="link-dark border-bottom"
                                    (click)="loadChildComponent('spending-vs-investment')">Spending Vs Investing</a>
                            </li>
                            <li><a class="link-dark border-bottom" (click)="loadChildComponent('gold-investment')">Gold
                                    Investment</a></li>
                            <li><a class="link-dark border-bottom"
                                    (click)="loadChildComponent('reale-state-investment')">Reale-Estate Investment</a>
                            </li>
                            <li><a class="link-dark border-bottom"
                                    (click)="loadChildComponent('share-market-investment')">Share Market Investment</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border">
                    <h2 class="display-6 fst-italic text-primary-emphasis">Inflation, Recession & Investment</h2>
                    <p class="lead my-3">Inflation and Recession are indeed significant factors that can motivate individuals to start investing early.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>