<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border">
        <div class="col-lg-12 px-0">
            <h2 class="display-6 fst-italic text-primary-emphasis">An investment in knowledge pays the best interest
            </h2>
            <p class="lead my-3">People don't plan to fail; they just fail to plan.</p>
            <ul>
                <li>
                    Rule No 1 : Grow indoor and outdoor plants
                </li>
                <li>
                    Rule No 2 : Read investment related books
                </li>
                <li>
                    Rule No 3 : Maintain healthy diet plan
                </li>
            </ul>
            <strong class="d-inline-block mb-2 text-primary-emphasis">Inflation, Recession & Investment
            </strong>
            <p class="lead my-3"><em class="heading">Inflation and Recession are indeed significant factors that can
                    motivate
                    individuals to start investing early.</em></p>
        </div>

    </div>
    <div class="row">
        <div class="col-7">
            <div class="p-4 mb-3 rounded border">
                <h4 class="fst-italic">Investment planning for 25 to 45 years age.</h4>
                <p><em class="heading">Goal Setting:</em> It is very much important to set goals before planning.</p>
                <p><em class="heading">Cost Inflation Index (CII):</em> Always consider CII before any financial
                    planning.</p>
                <p><em class="heading">Inflation and Recession:</em> Financial planning should indeed aim to beat
                    inflation and provide protection during recessions.</p>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Short-Term Goal (0-3 years)</th>
                                <th scope="col">Mid-Term Goal (3-10 years)</th>
                                <th scope="col">Long-Term Goal (10+ years)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Buy new Mobile/Laptop</td>
                                <td>Buying Gold</td>
                                <td>Retirement</td>
                            </tr>
                            <tr>
                                <td>Buy new Bike</td>
                                <td>New Car</td>
                                <td>Saving for Retirement</td>
                            </tr>
                            <tr>
                                <td>Vacation with friends and family</td>
                                <td>Buy new Land</td>
                                <td>Retirement Home</td>
                            </tr>
                            <tr>
                                <td>Relative Marriage expenses</td>
                                <td>Buy new Home</td>
                                <td>Kids Higher Education</td>
                            </tr>
                            <tr>
                                <td>Health emergencies</td>
                                <td>Own Marriage</td>
                                <td>Kids Marriage</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>
                    <em class="heading">Inflation</em>
                </p>
                <p>
                    Inflation is a rise in price levels of goods/services that are required for day-to-day use. It
                    primarily indicates the fall in the purchasing capacity of the rupee.
                    There are mainly 2 measures of inflation -
                </p>
                <p>
                    <i class="bi bi-check-circle" style="color:#ec0000"></i>
                    Consumer Price Index (CPI)
                </p>
                <p>
                    <i class="bi bi-check-circle" style="color:#ec0000"></i>
                    Wholesale Price Index (WPI)
                </p>
                <p>
                    The Wholesale Price Index (WPI) calculates the wholesale-level changes in price, and Consumer Price
                    Index (CPI) calculates the retail-level changes in price
                </p>
                <p>
                    <em class="heading">Recession</em>
                    A recession is a significant decline in economic activity that lasts for a prolonged period,
                    typically marked by a decrease in Gross Domestic Product (GDP), income, employment, industrial
                    production, and wholesale/retail sales. It is often characterized by reduced consumer spending,
                    decreased investment, and high unemployment rates.
                </p>
            </div>
            <div class="p-4 mb-3 rounded border">
                <h4 class="fst-italic">Debt trap instruments</h4>
                <p><em class="heading">You never know that you are already in a debt trap.</em></p>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Credit Card</th>
                                <th scope="col">No Cost EMI</th>
                                <th scope="col">Buy Now Pay Later</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    When credit cardholders only make the minimum payment, they're typically required to
                                    pay a percentage of their outstanding balance, often around 1-3% of the total
                                    balance.
                                    However, the remaining balance continues to accrue interest rate of <em
                                        class="heading">32% to 42% and 18% GST.</em> And those charges will compounds
                                    over time.</td>
                                <td>All the EMI charges are already included in purchase price of Product.</td>
                                <td>If you miss one single day to pay the amount, you will be charged of <em
                                        class="heading">12% to 15%</em> interest on outstanding amount with 18% GST.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="p-4 mb-3 rounded border">
                <h4 class="fst-italic">Initial Investment Preferences</h4>
                <p><em class="heading">As you start earn money, immediately invest to double your money.</em></p>
                <p><em class="heading">Over the next decade, prioritize investing in your career growth through</em>
                    continuous learning and education, aiming to secure a consistent 10% salary increase annually.</p>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nifty 100 index Mutual Fund</th>
                                <th scope="col">Liquid Mutual Fund</th>
                                <th scope="col">Buy Gold Coins</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    This Mutual Fund scheme has <em class="heading">given 18%+ CAGR since
                                        inception.</em> This investment will
                                    help you buying mid term goals.</td>
                                <td>Investing in Liquid Mutual Fund will save you from <em class="heading">inflation and
                                        as well as to have
                                        emergency fund.</em></td>
                                <td>Buying gold coin will help you in buying long term goals like <em
                                        class="heading">buying home or
                                        marriage.</em>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="p-4 mb-3 rounded border">
                <h4 class="fst-italic">Long-Term Investment Preferences</h4>
                <p><em class="heading">Always maintain 6 Months of emergency fund in Liquid Mutual Fund or Sweep In FD.</em></p>
                <p><em class="heading">Invest in GOLD ETF or SGB which will help you to recover in time of recession.</em></p>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Equity Investment</th>
                                <th scope="col">Buy Land or Home</th>
                                <th scope="col">Insurance Investment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ETF Investment</td>
                                <td>Purchase Land</td>
                                <td>Buy Health Insurance</td>
                            </tr>
                            <tr>
                                <td>Directly invest in various company shares/equity</td>
                                <td>Book Flat, which may handover to you after 3 to 4 years</td>
                                <td>Buy Term Insurance</td>
                            </tr>
                            <tr>
                                <td>Apply for Main-board IPOs, NFOs or SME IPOs</td>
                                <td>Buy Land and start building Home after 2 years</td>
                                <td>Buy Property Insurance</td>
                            </tr>
                            <tr>
                                <td>Invest in International Mutual Fund and Nifty 250 Index Fund</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div style="top: 2rem;">
                <div class="p-4 mb-3 rounded border">
                    <h4 class="fst-italic">Focus On</h4>
                    <p class="mb-0">This page is designed to tell you why to Investment in Stock Market. And how to
                        make 12% to 15% return annually.</p>
                </div>
                <div class="p-4 mb-3 rounded border">
                    <h4 class="fst-italic">Investment circle</h4>
                    <img src="assets/images/multi_asset.png" class="img-fluid" alt="">
                </div>
                <div class="p-4 mb-3 rounded border">
                    <img src="assets/images/inflation_in_india.png" class="img-fluid" alt="">
                </div>
                <div class="p-4 mb-3 rounded border">
                    <h4 class="fst-italic">Maslow’s hierarchy of needs</h4>
                    <img src="assets/images/needs.png" class="img-fluid" alt="">
                </div>
                <div class="p-4 mb-3 rounded border" style="overflow-y: scroll; height:300px;">
                    <h4 class="fst-italic">Famous Investment Quotes.</h4>
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>You have to learn the rules of the game. And then you have to play better than anyone else.</p>
                                <footer class="blockquote-footer">Albert Einstein</footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Empty pockets never held anyone back. Only empty heads and empty hearts can do that.</p>
                                <footer class="blockquote-footer">Norman Vincent Peale</footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Earn your wealth, the right way.</p>
                                <footer class="blockquote-footer">Sant Tukaram</footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Don't blame God for creating the tiger. Thank him instead for not giving it wings.</p>
                                <footer class="blockquote-footer">Indian proverb</footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>A fool and his money are soon parted.</p>
                                <footer class="blockquote-footer">Proverb</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-3">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-5 fw-semibold"></span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="true">
                        Investment Psychology
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a class="link-dark border-bottom"
                                    (click)="loadChildComponent('spending-vs-investment')">Spending Vs Investing</a>
                            </li>
                            <li><a class="link-dark border-bottom" (click)="loadChildComponent('gold-investment')">Gold
                                    Investment</a></li>
                            <li><a class="link-dark border-bottom"
                                    (click)="loadChildComponent('reale-state-investment')">Reale-Estate Investment</a>
                            </li>
                            <li><a class="link-dark border-bottom"
                                    (click)="loadChildComponent('share-market-investment')">Share Market Investment</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <!-- <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border">
                <h2 class="display-6 fst-italic text-primary-emphasis">Inflation, Recession & Investment</h2>
                <p class="lead my-3">Inflation and Recession are indeed significant factors that can motivate
                    individuals to start investing early.</p>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h4>Ways To Invest In Mutual Fund</h4>
            <p>Connect with AMC(Asset Management Company) to initiate your MF investment journy.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <h5><a>AMC Examples</a></h5>
                    <p>You may start investing at AMCs through Online.</p>
                    <button (click)="openLinkInNewTab('https://www.sbimf.com/')"><img src="assets/images/sbi_mf.webp"
                            width="32" height="32" alt="State Bank Of India Mutual Fund"></button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <h5><a>Types Of MF</a></h5>
                    <p>
                        There are several types of MFs available in India, each with its own investment
                        objective and asset allocation strategy.</p>
                    <button>Equity</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <h5><a>Common Terms</a></h5>
                    <p>Before Investing to MFs you should be aware of common terms as follows.</p>
                    <button>NFO</button>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->