<!-- <section>
    <div class="container">
        <div class="row">
            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
                <div class="col-lg-6 px-0">
                    <h1 class="display-4 fst-italic">Overview On NSE</h1>
                    <p class="lead my-3">The NSE has played a significant role in the growth and development of the
                        Indian capital markets. It has introduced several initiatives to enhance market transparency,
                        improve investor protection, and promote market integrity.</p>
                    <p class="lead mb-0"><a href="https://www.nseindia.com/" class="text-body-emphasis fw-bold">Continue
                            reading...</a></p>
                </div>
            </div>
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>Stock Trading: The NSE facilitates the trading of stocks or equities of companies listed on
                            its platform. Investors can buy and sell shares of companies through brokers who are
                            registered members of the exchange.</p>
                    </li>
                    <li class="list-group-item">
                        <p>Indices: The NSE is known for its prominent stock market indices, such as the Nifty 50 and
                            the Nifty Bank. The Nifty 50 is a benchmark index consisting of the 50 most actively traded
                            stocks on the exchange. It serves as a barometer of the Indian stock market's overall
                            performance.</p>
                    </li>
                    <li class="list-group-item">
                        <p>Derivatives Trading: The NSE is a major platform for trading derivatives instruments,
                            including futures and options contracts. These derivative products allow investors to
                            speculate on the future price movements of stocks, indices, commodities, and currencies.</p>
                    </li>
                    <li class="list-group-item">
                        <p>Clearing and Settlement: The NSE operates a robust clearing and settlement mechanism to
                            ensure the smooth and secure settlement of trades. It has a separate entity called the
                            National Securities Clearing Corporation Limited (NSCCL) that handles the clearing and
                            settlement process.</p>
                    </li>
                    <li class="list-group-item">
                        <p>Technology Infrastructure: The NSE is known for its advanced technology infrastructure,
                            including its trading platform called NEAT (National Exchange for Automated Trading). NEAT
                            provides a highly efficient and automated trading system, enabling faster order execution
                            and real-time market data dissemination.</p>
                    </li>
                    <li class="list-group-item">
                        <p>Regulatory Oversight: The NSE is regulated by the Securities and Exchange Board of India
                            (SEBI), which is the primary regulatory body overseeing the securities markets in India.
                            SEBI sets the rules and regulations governing the functioning of stock exchanges, brokers,
                            and market participants to ensure fair and transparent trading practices.</p>
                    </li>
                    <li class="list-group-item">
                        <p>Market Segments: The NSE operates different market segments to cater to the diverse needs of
                            investors. These segments include the Equity Cash Market, Equity Derivatives Market,
                            Currency Derivatives Market, and Debt Market.</p>
                    </li>

                </ul>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</section> -->

<div class="container">
    <div class="row">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">Overview On NSE</h1>
                <p class="lead my-3">The NSE has played a significant role in the growth and development of the
                    Indian capital markets. It has introduced several initiatives to enhance market transparency,
                    improve investor protection, and promote market integrity.</p>
                <p class="lead mb-0"><a href="https://www.nseindia.com/" class="text-body-emphasis fw-bold">Continue
                        reading...</a></p>
            </div>
        </div>
        <div class="col-6">
            <!-- <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Stock Trading: The NSE facilitates the trading of stocks or equities of companies listed on
                        its platform. Investors can buy and sell shares of companies through brokers who are
                        registered members of the exchange.</p>
                </li>
                <li class="list-group-item">
                    <p>Indices: The NSE is known for its prominent stock market indices, such as the Nifty 50 and
                        the Nifty Bank. The Nifty 50 is a benchmark index consisting of the 50 most actively traded
                        stocks on the exchange. It serves as a barometer of the Indian stock market's overall
                        performance.</p>
                </li>
                <li class="list-group-item">
                    <p>Derivatives Trading: The NSE is a major platform for trading derivatives instruments,
                        including futures and options contracts. These derivative products allow investors to
                        speculate on the future price movements of stocks, indices, commodities, and currencies.</p>
                </li>
                <li class="list-group-item">
                    <p>Clearing and Settlement: The NSE operates a robust clearing and settlement mechanism to
                        ensure the smooth and secure settlement of trades. It has a separate entity called the
                        National Securities Clearing Corporation Limited (NSCCL) that handles the clearing and
                        settlement process.</p>
                </li>
                <li class="list-group-item">
                    <p>Technology Infrastructure: The NSE is known for its advanced technology infrastructure,
                        including its trading platform called NEAT (National Exchange for Automated Trading). NEAT
                        provides a highly efficient and automated trading system, enabling faster order execution
                        and real-time market data dissemination.</p>
                </li>
                <li class="list-group-item">
                    <p>Regulatory Oversight: The NSE is regulated by the Securities and Exchange Board of India
                        (SEBI), which is the primary regulatory body overseeing the securities markets in India.
                        SEBI sets the rules and regulations governing the functioning of stock exchanges, brokers,
                        and market participants to ensure fair and transparent trading practices.</p>
                </li>
                <li class="list-group-item">
                    <p>Market Segments: The NSE operates different market segments to cater to the diverse needs of
                        investors. These segments include the Equity Cash Market, Equity Derivatives Market,
                        Currency Derivatives Market, and Debt Market.</p>
                </li>

            </ul> -->
        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="row py-5">
        <div class="col-3">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-5 fw-semibold"></span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="true">
                        About NSE & BSE India
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a class="link-dark border-bottom">NSE</a>
                            </li>
                            <li><a class="link-dark border-bottom">BSE</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="resume">
                <div class="section-title">
                    <h4>About NSE</h4>
                </div>
                <div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                    </textarea>
                    </div>
                    <p class="resume-item mb-0">
                        Stock Trading: The NSE facilitates the trading of stocks or equities of companies listed on
                        its platform. Investors can buy and sell shares of companies through brokers who are
                        registered members of the exchange.
                    </p>
                    <p class="resume-item mb-0">
                        Indices: The NSE is known for its prominent stock market indices, such as the Nifty 50 and
                        the Nifty Bank. The Nifty 50 is a benchmark index consisting of the 50 most actively traded
                        stocks on the exchange. It serves as a barometer of the Indian stock market's overall
                        performance.
                    </p>
                    <p class="resume-item mb-0">
                        Derivatives Trading: The NSE is a major platform for trading derivatives instruments,
                        including futures and options contracts. These derivative products allow investors to
                        speculate on the future price movements of stocks, indices, commodities, and currencies.
                    </p>
                    <p class="resume-item mb-0">
                        Clearing and Settlement: The NSE operates a robust clearing and settlement mechanism to
                        ensure the smooth and secure settlement of trades. It has a separate entity called the
                        National Securities Clearing Corporation Limited (NSCCL) that handles the clearing and
                        settlement process.
                    </p>
                    <p class="resume-item mb-0">
                        Technology Infrastructure: The NSE is known for its advanced technology infrastructure,
                        including its trading platform called NEAT (National Exchange for Automated Trading). NEAT
                        provides a highly efficient and automated trading system, enabling faster order execution
                        and real-time market data dissemination.
                    </p>
                    <p class="resume-item mb-0">
                        Regulatory Oversight: The NSE is regulated by the Securities and Exchange Board of India
                        (SEBI), which is the primary regulatory body overseeing the securities markets in India.
                        SEBI sets the rules and regulations governing the functioning of stock exchanges, brokers,
                        and market participants to ensure fair and transparent trading practices.
                    </p>
                    <p class="resume-item mb-0">
                        Market Segments: The NSE operates different market segments to cater to the diverse needs of
                        investors. These segments include the Equity Cash Market, Equity Derivatives Market,
                        Currency Derivatives Market, and Debt Market.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>