<div class="resume">
    <div class="section-title">
        <h4>Gold Investment</h4>
    </div>
    <div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
            We believe it is safe to invest in GOLD.
            GOLD:
                If we invest in physical gold then we need to give extra money as making charge.
                We need to keep safe at home and worrying about not being theft.
                While selling we again need to pay more for making charge.

                But yes if we buy physical Gold BAR then no need to pay making charge.
                And also while selling no need to pay for making charge.
                But need to keep sage at home and worrying about not being theft.

                But yes if we buy digital gold then no need to pay making charge.
                And also while selling no need to pay for making charge.
                And no need to worry about being theft.

                Digital Gold:
                    SGB:
                    Gold ETF:
                    Gold Mutual Fund:
        </textarea>
        </div>
        <p class="resume-item mb-0">
            When considering investing in gold, there are different options available, including physical gold, digital
            gold,
            and investment instruments tied to gold. Here are some common investment options related to gold:
        </p>
        <p class="resume-item mb-0">
            1. <em class="red">Physical Gold:</em>
            - Investing in physical gold involves purchasing gold in the form of coins, bars, or jewelry. However, there
            are
            some considerations:
            - Making Charges: When buying gold jewelry, you may incur additional costs in the form of making charges.
            This
            charge covers the cost of crafting the jewelry.
            - Safekeeping: Holding physical gold requires taking measures to keep it secure, such as storing it in a
            safe or
            deposit box. There can be concerns about theft or loss.
            - Resale: When selling physical gold, you may encounter additional charges, such as making charges,
            deductions
            for
            impurities, or transaction fees.
        </p>
        <p class="resume-item mb-0">
            2. <em class="red">Digital Gold:</em>
            - Digital gold allows investors to buy and sell gold in digital form without physically owning or storing
            it.
            There
            are different forms of digital gold, including Sovereign Gold Bonds (SGB), Gold ETFs, and Gold Mutual Funds.
        </p>
        <p class="resume-item mb-0">
            3. <em class="red">Sovereign Gold Bonds (SGB):</em>
            - SGBs are government-issued bonds denominated in grams of gold. Investors purchase these bonds, which
            represent
            a
            specific quantity of gold. SGBs provide interest income and the option to convert them into physical gold
            after
            a
            specified period.
        </p>
        <p class="resume-item mb-0">
            4. <em class="red">Gold ETF (Exchange-Traded Fund):</em>
            - Gold ETFs are exchange-traded funds that track the price of gold. Investors buy units of these funds,
            which
            represent a fractional ownership of gold. Gold ETFs offer the convenience of trading on stock exchanges.
        </p>
        <p class="resume-item mb-0">
            5. <em class="red">Gold Mutual Fund:</em>
            - Gold Mutual Funds invest in a portfolio of gold-related assets, such as gold ETFs, gold mining companies,
            or
            other
            gold-related instruments. Investors can purchase units of these funds and benefit from professional fund
            management.
        </p>
        <p class="resume-item mb-0">
            When considering investing in gold, it's important to evaluate factors such as your investment goals, risk
            tolerance, liquidity needs, and storage preferences. It may also be beneficial to consult with a financial
            advisor
            who can provide personalized guidance based on your specific circumstances.
        </p>
    </div>
</div>
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h4>Ways To Invest In Gold</h4>
            <p>Gold BAR , SGB(Sovereign Gold Bond) , Gold Scheme, Gold ETF, Gold MF</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <h5><a>Gold Bar</a></h5>
                    <p>Making charges are not applicable when buying / selling physical gold bars.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <h5><a>Gold Bar</a></h5>
                    <p>You will get capital appreciation of 4% to 5% annually while selling Gold Bar.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>SGB</a></h5>
                    <p>Sovereign Gold Bond is issued by RBI on quarterly basis. It is the Digital Form of Gold.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>SGB</a></h5>
                    <p>You may convert it to physical gold. And also able to trade in Stock Market.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>SGB</a></h5>
                    <p>It yields an interest of 2.5% annually on face value.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>SGB</a></h5>
                    <p>It has a locking period of 8 years.</p>
                    <p>Capital appreciation is Tax free.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>SGB</a></h5>
                    <p>You can avail Loan against this SGB.</p>
                    <p>You can also convert to physical GOLD after 8 years.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold Scheme</a></h5>
                    <p>You can invest in any of the Gold scheme by monthly investment (Starting from Rs.2500).</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold Scheme</a></h5>
                    <p>You only need to invest for 10 months.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold Scheme</a></h5>
                    <p>Gold Scheme will pay you 7% to 8% on your investment amount. It has a 12 Months of locking
                        period.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold Scheme</a></h5>
                    <p>12th month onwards you can use your invested money + 8% interest to buy Gold Bar or Gold Ornaments.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold Scheme</a></h5>
                    <p>You can also use same Gold Ornaments to take Gold Loan of 7% to 8% interest per annum.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold Scheme</a></h5>
                    <p>At any point of time you can close the Gold Loan by paying remaining principal amount.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold Scheme</a></h5>
                    <p>You can pre pay any amount at any point of time towards Gold Loan.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold ETF</a></h5>
                    <p>Gold ETF (Exchange-Traded Fund) is available on Stock Market. It is the Digital Form of Gold</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold ETF</a></h5>
                    <p>You need Demat Account to trade in Stock Market. You also be able to buy / sell Gold ETF from Share
                        Market.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold ETF</a></h5>
                    <p>You may able to buy or sell Gold ETF from market at any point of time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold ETF</a></h5>
                    <p>Gold ETF will give you minimum of 9% to 10% return over 5 years period.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold MF</a></h5>
                    <p>Gold Mutual Fund, it is nothing but the digital Gold Investment through MF.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold MF</a></h5>
                    <p>Your money will be invested in either on Gold ETF, Gold Bonds or Physical Gold.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold MF</a></h5>
                    <p>It also has 9% to 10% of growth in 5 years of time horizons. Even you can buy or sell at any
                        point of time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <h5><a>Gold MF</a></h5>
                    <p>You can buy or sell total invested amount on Gold MF or you may buy or sell part of the invested
                        Gold MF amount.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->