button {
    font-size: 14px;
    color: #052c65;
    background: #ffff;
    // padding: 8px 20px;
    // margin-left: 30px;
    border-radius: 20px;
    transition: 0.3s;
    border-color: #FFD700;
}

button:hover {
    font-size: 14px;
    color: #052c65;
    background: #ffff;
    // padding: 8px 20px;
    // margin-left: 30px;
    border-radius: 20px;
    transition: 0.3s;
    border-color: #FFD700;
}

.table th {
    font-size: 0.9rem;
    /* Adjust as needed */
}

h5, h6 {
    color: #052c65;
}