<h3 class="pb-4 mb-4 fst-italic border-bottom">
    Types Of Investments
</h3>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Real Estate
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>Real estate investments involve purchasing properties, such as residential homes, commercial
                    buildings, or land, with the aim of generating rental income or capital appreciation. Real
                    estate can offer long-term returns and potential tax advantages.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Fixed Deposits (FD)
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>Fixed deposits are one of the most popular investment options in India. They involve depositing a
                    lump sum of money with a bank or financial institution for a fixed period at a predetermined
                    interest rate. FDs offer stable returns and are considered relatively low-risk investments.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Public Provident Fund (PPF)
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>PPF is a long-term savings scheme offered by the Indian government. It provides tax benefits and
                    offers a fixed interest rate. PPF accounts have a maturity period of 15 years, and the
                    contributions made are eligible for tax deductions under Section 80C of the Income Tax Act.</p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour">
                National Savings Certificates (NSC)
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>NSC is a savings scheme offered by the Indian Post Office. It has a fixed interest rate and a
                    maturity period of five or ten years. NSC investments also qualify for tax deductions under
                    Section 80C.</p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFive">
                Gold
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>Gold has long been considered a traditional investment option in India. Investors can buy
                    physical gold in the form of jewelry or gold coins/bars or invest in gold Exchange-Traded Funds
                    (ETFs), which are backed by physical gold.</p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseSix">
                Government Securities
            </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>Government securities, such as government bonds and treasury bills, are issued by the Indian
                    government to borrow money from investors. These securities provide fixed interest payments and
                    are considered relatively safe investments.</p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseSeven">
                Post Office Monthly Income Scheme (POMIS)
            </button>
        </h2>
        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSeven" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>POMIS is a savings scheme offered by the Indian Post Office. It provides a fixed monthly income
                    to investors who deposit a lump sum amount. POMIS offers stable returns but has certain
                    limitations on the maximum investment amount.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseEight">
                Employee Provident Fund (EPF)
            </button>
        </h2>
        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingEight" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>EPF is a retirement savings scheme in which both the employee and employer contribute a portion
                    of the employee's salary to the fund. EPF investments earn interest and provide a retirement
                    corpus for the employee.</p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseNine">
                Mutual Funds (MF)
            </button>
        </h2>
        <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingNine" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>Mutual funds pool money from multiple investors to invest in a diversified portfolio of stocks,
                    bonds, or other securities. They are managed by professional fund managers and offer investors
                    the opportunity to participate in various market segments with different risk profiles.</p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTen">
                Equity Shares
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTen" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>Investing in equity shares means buying ownership stakes in publicly traded companies. Investors
                    can buy shares on stock exchanges like the National Stock Exchange (NSE) and the Bombay Stock
                    Exchange (BSE). Equity shares offer the potential for capital appreciation and dividends, but
                    they also carry higher risks compared to other investment options.</p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseEleven">
                Insurance
            </button>
        </h2>
        <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingEleven" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
                <p>Insurance is a financial arrangement where an individual or entity (the policyholder) pays a
                    premium to an insurance company in exchange for protection or compensation against potential
                    risks or losses. Insurance provides financial security and helps individuals or businesses
                    mitigate the impact of unforeseen events or circumstances.</p>

            </div>
        </div>
    </div>
</div>

<!-- <article class="blog-post">
        <h4 class="display-7 link-body-emphasis mb-1">Real Estate</h4>
        <p>Real estate investments involve purchasing properties, such as residential homes, commercial
            buildings, or land, with the aim of generating rental income or capital appreciation. Real
            estate can offer long-term returns and potential tax advantages.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">Fixed Deposits (FD)</h4>
        <p>Fixed deposits are one of the most popular investment options in India. They involve depositing a
            lump sum of money with a bank or financial institution for a fixed period at a predetermined
            interest rate. FDs offer stable returns and are considered relatively low-risk investments.</p>
        <hr> 
        <h4 class="display-7 link-body-emphasis mb-1">Public Provident Fund (PPF)</h4>
        <p>PPF is a long-term savings scheme offered by the Indian government. It provides tax benefits and
            offers a fixed interest rate. PPF accounts have a maturity period of 15 years, and the
            contributions made are eligible for tax deductions under Section 80C of the Income Tax Act.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">National Savings Certificates (NSC)</h4>
        <p>NSC is a savings scheme offered by the Indian Post Office. It has a fixed interest rate and a
            maturity period of five or ten years. NSC investments also qualify for tax deductions under
            Section 80C.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">Gold</h4>
        <p>Gold has long been considered a traditional investment option in India. Investors can buy
            physical gold in the form of jewelry or gold coins/bars or invest in gold Exchange-Traded Funds
            (ETFs), which are backed by physical gold.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">Government Securities</h4>
        <p>Government securities, such as government bonds and treasury bills, are issued by the Indian
            government to borrow money from investors. These securities provide fixed interest payments and
            are considered relatively safe investments.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">Post Office Monthly Income Scheme (POMIS)</h4>
        <p>POMIS is a savings scheme offered by the Indian Post Office. It provides a fixed monthly income
            to investors who deposit a lump sum amount. POMIS offers stable returns but has certain
            limitations on the maximum investment amount.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">Employee Provident Fund (EPF)</h4>
        <p>EPF is a retirement savings scheme in which both the employee and employer contribute a portion
            of the employee's salary to the fund. EPF investments earn interest and provide a retirement
            corpus for the employee.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">Mutual Funds (MF)</h4>
        <p>Mutual funds pool money from multiple investors to invest in a diversified portfolio of stocks,
            bonds, or other securities. They are managed by professional fund managers and offer investors
            the opportunity to participate in various market segments with different risk profiles.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">Equity Shares</h4>
        <p>Investing in equity shares means buying ownership stakes in publicly traded companies. Investors
            can buy shares on stock exchanges like the National Stock Exchange (NSE) and the Bombay Stock
            Exchange (BSE). Equity shares offer the potential for capital appreciation and dividends, but
            they also carry higher risks compared to other investment options.</p>
        <hr>
        <h4 class="display-7 link-body-emphasis mb-1">Insurance</h4>
        <p>Insurance is a financial arrangement where an individual or entity (the policyholder) pays a
            premium to an insurance company in exchange for protection or compensation against potential
            risks or losses. Insurance provides financial security and helps individuals or businesses
            mitigate the impact of unforeseen events or circumstances.</p>
        <hr>
    </article>
    <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
    </nav>
    
</div>
-->