h4 {
    color: #052c65;
}

.heading {
    color: #ec0000;
}

// .heading {
//     color: #ec0000;
//     border-bottom: 1px solid #ec0000;
// }

p {
    font-size: 15px;
    // color: #6c757d;
    font-family: 'Roboto', sans-serif;
}

.red {
    color: #ec0000;
}

button {
    font-size: 14px;
    color: #052c65;
    background: #ffff;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 20px;
    transition: 0.3s;
    border-color: #ffff;
}

button:hover {
    font-size: 14px;
    color: #052c65;
    background: #ffff;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 20px;
    transition: 0.3s;
    border-color: #FFD700;
}
