h4 {
    color: #052c65;
}

.heading {
    color: #ec0000;
}

// .heading {
//     color: #ec0000;
//     border-bottom: 1px solid #ec0000;
// }

p {
    font-size: 15px;
    // color: #6c757d;
    font-family: 'Roboto', sans-serif;
}

.red {
    color: #ec0000;
}

button {
    font-size: 14px;
    color: #052c65;
    background: #ffff;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 20px;
    transition: 0.3s;
    border-color: #ffff;
}

button:hover {
    font-size: 14px;
    color: #052c65;
    background: #ffff;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 20px;
    transition: 0.3s;
    border-color: #FFD700;
}

.sub-header .divider {
    border-left: 1px solid #ec0000;
    /* vertical line */
    height: 10px;
    /* line height */
}

.sub-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 5px;
    padding: 0px 12px;
    font-size: 14px;
    /* smaller text */
    font-weight: 500;
    color: #052c65;
}