<div>


    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border">
            <div class="col-lg-9 px-0">
                <h2 class="display-6 fst-italic text-primary-emphasis">Generate Regular Income From Stock Market
                    Investment</h2>
                <p class="lead my-3">Now the time is to invest in multiple ways to generate regular income from NSE
                    and BSE.
                    Which will easily gives you 12% to 15% income from your investment annualy.</p>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">About NSE</strong>
                        <!-- <h3 class="mb-0">Featured post</h3> -->
                        <!-- <div class="mb-1 text-body-secondary">Nov 12</div> -->
                        <p class="card-text mb-auto">The National Stock Exchange of India (NSE) is the leading stock
                            exchange in India. It was established in 1992 and is located in Mumbai.
                        </p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250">
                            <image xlink:href="assets/images/NSE_Logo.svg" width="200" height="250" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">About BSE</strong>
                        <!-- <h3 class="mb-0">Post title</h3> -->
                        <!-- <div class="mb-1 text-body-secondary">Nov 11</div> -->
                        <p class="mb-auto">The BSE (Bombay Stock Exchange) is one of the major stock exchanges in India.
                            It is located in Mumbai and is the oldest stock exchange in Asia, established in 1875.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250">
                            <image xlink:href="assets/images/bselogo.png" width="200" height="250" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-6">
                <app-investment-type></app-investment-type>
            </div>

            <div class="col-md-6">
                <div style="top: 2rem;">
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Focus On</h4>
                        <p class="mb-0">This page is designed to tell you why to Investment in Stock Market. And how to
                            make 12% to 15% return anually.</p>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Broker Providers</h4>
                        <p class="mb-0">When it comes to Invest in stock market, we need a brokerage account. Which will
                            be provided by various Broker Providers in India.</p>
                        <ul>
                            <li>Zerodha</li>
                            <li>Groww</li>
                            <li>ICICI Direct</li>
                            <li>HDFC Securities</li>
                            <li>Angel Broking</li>
                            <li>Kotak Securities</li>
                            <li>Upstox</li>
                            <li>Sharekhan</li>
                            <li>Others...</li>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Before Investment</h4>
                        <p class="mb-0">Things need to take care before starting any type of investment. All the below
                            details need to be same in all the documents.</p>
                        <ul>
                            <li>Name with: First, Middle, Last name format</li>
                            <li>Updated Photo with white background</li>
                            <li>Date Of Birth</li>
                            <li>Personal Mobile Number</li>
                            <li>Personal Email ID</li>
                            <li>Valid Permanent Address</li>
                            <li>Bank Saving Account Number</li>
                            <li>PAN Card</li>
                            <li>Aadhaar Card</li>
                            <li>DigiLocker Account</li>
                            <li>Link Aadhaar Number with PAN Number</li>
                            <li>All the above detail need to pass same on all the documents</li>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">TODO Before Investment</h4>
                        <p class="mb-0">Below are the factors need to discus or consider before doing any kind of
                            Investment.</p>
                        <ul>
                            <li>Inflation</li>
                            <small>Is your investment beats the inflation?</small>
                            <li>Recession</li>
                            <small>Is your investment gives you return during Recession?</small>
                            <li>Capital for 6 months</li>
                            <small>Do you have imergency fund for next 6 month to run your family?</small>
                            <li>Insurance</li>
                            <small>Do you have health insurance, term insurance and other asset insurances?</small>
                            <li>Gold</li>
                            <small>It is very important to invest in physical gold before starting any type of
                                Investment.</small>
                            <li>Initial Capital</li>
                            <small>How much minimum initial capital require for investment</small>
                            <li>Time Horizone</li>
                            <small>How much daily income generated from investment for shrot-term and long-term
                                duration.</small>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Online Calculators</h4>
                        <p class="mb-0">In case of any confusion, use various online calculator to compare between
                            Investments.</p>
                        <ul>
                            <li>Home Loan Calculator</li>
                            <li>Home Loan Pre Pay Calculator</li>
                            <li>Mutual Fund SIP Calculator</li>
                            <li>Bank FD Return Calculator</li>
                            <li>Loan EMI Calculator</li>
                            <li>LIC Return Calculator</li>
                            <li>Mutual Fund Lumsum Calculator</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>


</div>