h4 {
    color: #052c65;
}

.heading {
    color: #ec0000;
}

// .heading {
//     color: #ec0000;
//     border-bottom: 1px solid #ec0000;
// }

p {
    font-size: 15px;
    // color: #6c757d;
    font-family: 'Roboto', sans-serif;
}

.red {
    color: #ec0000;
}