<div>


    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border">
            <div class="col-lg-9 px-0">
                <h2 class="display-6 fst-italic text-primary-emphasis">Generate Regular Income From Stock Market
                    Investment</h2>
                <p class="lead my-3">Now the time is to invest in multiple ways to generate regular income from NSE
                    and BSE.
                    Which will easily gives you 12% to 15% income from your investment annualy.</p>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">About NSE</strong>
                        <!-- <h3 class="mb-0">Featured post</h3> -->
                        <!-- <div class="mb-1 text-body-secondary">Nov 12</div> -->
                        <p class="card-text mb-auto">The National Stock Exchange of India (NSE) is the leading stock
                            exchange in India. It was established in 1992 and is located in Mumbai.
                        </p>
                        <a (click)="openLinkInNewTab('https://www.nseindia.com/')" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250">
                            <image xlink:href="assets/images/NSE_Logo.svg" width="200" height="250" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">About BSE</strong>
                        <!-- <h3 class="mb-0">Post title</h3> -->
                        <!-- <div class="mb-1 text-body-secondary">Nov 11</div> -->
                        <p class="mb-auto">The BSE (Bombay Stock Exchange) is one of the major stock exchanges in India.
                            It is located in Mumbai and is the oldest stock exchange in Asia, established in 1875.</p>
                        <a (click)="openLinkInNewTab('https://www.bseindia.com/')" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250">
                            <image xlink:href="assets/images/bselogo.png" width="200" height="250" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                <div class="p-4 mb-3 rounded border">
                    <h4 class="fst-italic">Why To Invest In Stock Market</h4>
                    <p><em class="heading">Inflation:</em> The purchasing power of a currency reduces over time due to
                        the effect of
                        inflation. Inflation is the increase in the general price level of goods and services in an
                        economy, which means that the same amount of currency buys fewer goods and services than it did
                        in the past.</p>
                    <p>
                        Let's break down some example to understand how inflation and interest rates impact various
                        aspects of the economy:
                    </p>
                    <p>
                        <em class="heading">Fixed Deposit Interest Rate (6%):</em>
                        Suppose a bank offers a fixed deposit with an annual interest rate of 6%. If the inflation rate
                        in the economy is also around 6%, it means that the real return on the fixed deposit is close to
                        zero. In other words, the purchasing power of the money deposited in the fixed deposit remains
                        relatively stable, but it does not provide significant real growth.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i>
                        Example: If you deposit ₹100,000 in a fixed deposit with a 6% interest rate for a year, you will
                        earn ₹6,000 in interest. However, due to the 6% inflation rate, the value of ₹106,000 after one
                        year may not have increased significantly in terms of purchasing power.
                    </p>
                    <p>
                        <em class="heading">Home Loan Interest Rate (7%):</em>
                        When a bank offers a home loan at a 7% interest rate, it means that borrowers will have to pay
                        an additional 7% on top of the principal amount borrowed. The higher the interest rate, the
                        higher the overall cost of the home loan.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i>
                        Example: If you take a home loan of ₹1,000,000 at a 7% interest rate for 20 years, you will have
                        to pay ₹1,000,000 (principal) + ₹700,000 (interest) = ₹1,700,000 in total over the loan tenure.
                        However, if the home price inflation rate is also around 7%, the value of the property you
                        purchase may have increased by a similar percentage over the same period.
                    </p>
                    <p>
                        <em class="heading">Education Loan Interest Rate (10%):</em>
                        When a bank provides an education loan at a 10% interest rate, students or their parents will
                        need to repay the loan with an additional 10% interest on top of the borrowed amount.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i>
                        Example: If you take an education loan of ₹500,000 at a 10% interest rate for 5 years, you will
                        have to repay ₹500,000 (principal) + ₹250,000 (interest) = ₹750,000. However, if the education
                        expenditure inflation rate is also around 10%, the overall cost of education may have increased
                        by a similar percentage over the same period.
                    </p>
                    <p>
                        <em class="heading">Gold Loan Interest Rate (8%):</em>
                        A gold loan is secured by gold, and the interest rate is typically lower compared to other types
                        of loans.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i>
                        Example: If you take a gold loan of ₹200,000 at an 8% interest rate for 1 year, you will have to
                        repay ₹200,000 (principal) + ₹16,000 (interest) = ₹216,000. However, if the gold buying price
                        inflation rate is also around 8%, the value of the gold you pledge as collateral may have
                        increased by a similar percentage over the same period.
                    </p>
                    <p>
                        <em class="heading">Car Loan Interest Rate (9%):</em>
                        When a bank provides a car loan at a 9% interest rate, borrowers will need to repay the loan
                        with an additional 9% interest on top of the principal amount borrowed.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i>
                        Example: If you take a car loan of ₹600,000 at a 9% interest rate for 3 years, you will have to
                        repay ₹600,000 (principal) + ₹162,000 (interest) = ₹762,000. However, if the car buying price
                        inflation rate is also around 9%, the cost of the car you want to buy may have increased by a
                        similar percentage over the same period.
                    </p>
                    <p>
                        In each of these examples, the impact of inflation on interest rates is evident. The rates at
                        which loans are provided and the returns on deposits are influenced by the prevailing inflation
                        rates in the economy. It is essential to consider inflation while making financial decisions to
                        understand the real value of money and assets over time.
                    </p>
                </div>
                <div class="p-4 mb-3 rounded border">
                    <h4 class="fst-italic">Why It is less important to Invest in second property</h4>
                    <p> Let say you are planning to buy a <em class="heading">second Home</em> at Rs 60,00,000 </p>
                    <ul>
                        <li>
                            20% down payment Rs 12,00,000
                        </li>
                        <li>
                            6% Stamp Duty and Registration Rs 3,60,000
                        </li>
                        <li>
                            5% GST Rs 3,00,000
                        </li>
                    </ul>
                    <p>
                        Remaining Rs 48,00,000 if you are applying for <em class="heading">Home Loan</em> then.
                    </p>
                    <ul>
                        <li>
                            10 year EMI
                        </li>
                        <li>
                            8.4% Interest Rs 23,10,806
                        </li>
                        <li>
                            Total Rs 71,10,806.
                        </li>
                    </ul>
                    <p> And in case of higher inflation home loan interest rate will go up to 10% (Depends on RBI repo
                        rate change).</p>
                    <p>Additional Expenditure: </p>
                    <ul>
                        <li>
                            Car Parking Rs 2,00,000
                        </li>
                        <li>
                            Interior Design Rs 3,00,000
                        </li>
                        <li>
                            Furniture Rs 3,00,000
                        </li>
                    </ul>

                    <p>
                        Home Loan Interest + Registration Charge + GST ::
                        Rs 23,10,806 + Rs 3,60,00 + Rs 3,00,000 = Rs 29,70,806
                    </p>

                    <p>
                        So total Investment Become -> 
                        20% Down Payment + Home Loan with Interest + Registration Charge + GST + Interior Design +
                        Furniture + Car Parking
                    </p><p>
                        Rs 12,00,000 + Rs 71,10,806 + Rs 3,60,000 + Rs 3,00,000 + Rs 3,00,000 + Rs 3,00,000 + Rs
                        2,00,000 = <em class="heading">Rs 97,70,806</em>
                    </p>
                    <p>
                        Return After 10 years with 8.5% return (<em class="heading">Home Inflation goes with 8% to 9% per year in India</em>) of
                        Rs 98,00,000 home amount would become <em class="heading">Rs 2,21,57,638</em>
                    </p>
                    <ul>
                        <li>
                            Consider : Time and money you have spend during property Investigation.

                        </li>
                        <li>
                            Consider: Effect of natural disasters like Flood, Cyclone and Earthquake may damage the
                            property.
                        </li>
                        <li>
                            Consider: Maintenance Cost of property will increase after 10 years.
                        </li>
                        <li>
                            Consider: In case of higher inflation home loan interest rate will go up to 10%.
                        </li>
                    </ul>
                    <p>
                        Let see how a <em class="heading">Lumpsum investment in Index Mutual Fund</em> In India reflect.
                    </p>
                    <p>
                        <em class="heading">Lump sum Investment of Rs 55,00,000 Return after 10 years with 15% CAGR become Rs 2,22,50,568</em>
                    </p>
                    <ul>
                        <li>
                            Consider: No maintenance cost
                        </li>
                        <li>
                            Consider: Investment amount will always increase with the time(even after 10, 20 and even
                            after
                            30 years).
                        </li>
                        <li>
                            Consider: No effect of natural disasters.
                        </li>
                        <li>
                            Consider: You may start Investment at any point of time with any amount(starting from Rs
                            1000).
                        </li>
                    </ul>
                    <p>

                    </p>
                    <p>
                        Based on the analysis, the lump sum investment in a financial instrument with a 15% CAGR yields
                        a slightly higher return compared to investing in the property. However, it's essential to
                        consider the costs involved in the property purchase, such as stamp duty, registration charges,
                        and interest on the home loan. Additionally, property investments come with certain risks,
                        including potential damage due to natural disasters and increased maintenance costs over time.
                    </p>
                    <p>
                        On the other hand, the lump sum investment offers more flexibility, no maintenance costs, and
                        the potential for higher returns with a diversified investment strategy. As with any investment
                        decision, it's crucial to assess your financial goals, risk tolerance, and investment horizon
                        before making a choice. It's also recommended to seek advice from a financial advisor to develop
                        a comprehensive investment strategy.
                    </p>
                    <p>
                        <em class="heading">May this is the reason Warren Buffett lives in a Traditional Home.</em>
                    </p>

                </div>
                <app-investment-type></app-investment-type>
            </div>

            <div class="col-md-5">
                <div style="top: 2rem;">
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Focus On</h4>
                        <p class="mb-0">This page is designed to tell you why to Investment in Stock Market. And how to
                            make 12% to 15% return anually.</p>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Nifty 50 Index Return</h4>
                        <p class="mb-0">Nifty 50 Index has delivered an average annual return(CAGR) of 12% since
                            inception and has provided an average annual 2% Dividend return, then the final return on
                            investment <em class="heading">would be 14%.</em></p>
                        <img src="assets/images/nifty50.png" class="img-fluid" alt="">
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Sensex Index Return</h4>
                        <p class="mb-0">Sensex Index has delivered an average annual return(CAGR) of 15% since inception
                            and has provided an average annual 2% Dividend return, then the total return on investment
                            <em class="heading">would be 17%.</em>
                        </p>
                        <img src="assets/images/sensex.png" class="img-fluid" alt="">

                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Broker Providers</h4>
                        <p class="mb-0">When it comes to Invest in stock market, we need a brokerage account. Which will
                            be provided by various Broker Providers in India.</p>
                        <ul>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Zerodha</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Groww</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> ICICI Direct</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> HDFC Securities</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Angel Broking</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Kotak Securities</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Upstox</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Sharekhan</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Others...</li>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Documents Require For Investment</h4>
                        <p class="mb-0">Things need to take care before starting any type of investment. All the below
                            details need to be same in all the documents.</p>
                        <ul>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Name with: First,
                                Middle, Last name format</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Updated Photo with white
                                background</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Date Of Birth</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Personal Mobile Number
                            </li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Personal Email ID</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Valid Permanent Address
                            </li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Bank Saving Account
                                Number</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> PAN Card</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Aadhaar Card</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Creste DigiLocker
                                Account</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Link Aadhaar Number with
                                PAN Number</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> All the above detail
                                need to pass same on all the documents</li>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">TODO Before Investment</h4>
                        <p class="mb-0">Below are the factors need to discus or consider before doing any kind of
                            Investment.</p>
                        <ul>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Inflation</li>
                            <small>
                                <p>Is your investment beats the inflation?</p>
                            </small>
                            <small>
                                <p>It is estimated that inflation in India typically ranges from 6% to 7% per year</p>
                            </small>
                            <small>
                                <p>It is estimated that education inflation in India typically ranges from 9% to 10% per
                                    year</p>
                            </small>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Recession</li>
                            <small>Is your investment gives you constant return during Recession?</small>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Capital for 6 months
                            </li>
                            <small>Do you have imergency fund for next 6 month to run your family?</small>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Insurance</li>
                            <small>Do you have health insurance, term insurance and other asset insurances?</small>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Gold</li>
                            <small>It is very important to invest in physical gold before starting any type of
                                Investment.</small>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Initial Capital</li>
                            <small>How much minimum initial capital require for investment</small>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Time Horizone</li>
                            <small>How much daily income generated from investment for shrot-term and long-term
                                duration.</small>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">12 companies present in Nifty 50 Since Inception</h4>
                        <ul>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Reliance Industries Ltd.
                            </li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> HDFC Bank Ltd.</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> ICICI Bank Ltd.</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Hindustan Unilever Ltd.
                            </li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> ITC Ltd.</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> State Bank of India</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Bajaj Auto Ltd.</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Tata Motors Ltd.</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Tata Steel Ltd.</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Hindalco Industries Ltd.
                            </li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Larsen & Toubro Ltd.
                            </li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Maruti Suzuki India Ltd
                            </li>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 rounded border">
                        <h4 class="fst-italic">Online Calculators</h4>
                        <p class="mb-0">In case of any confusion, use various online calculator to compare between
                            Investments.</p>
                        <ul>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Home Loan Calculator
                            </li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Home Loan Pre Pay
                                Calculator</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Mutual Fund SIP
                                Calculator</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Bank FD Return
                                Calculator</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Loan EMI Calculator</li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> LIC Return Calculator
                            </li>
                            <li style="list-style-type: none;"><i class="bi bi-check2 red"></i> Mutual Fund Lumsum
                                Calculator</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>


</div>