<div>
    <div class="container">
        <header class="border-bottom lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Market Fundamental</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-3 border-bottom">
            <nav class="nav nav-underline justify-content-between">
                <a class="nav-item nav-link link-body-emphasis active" href="#">Stock</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">NSE</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">BSE</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Share</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">ETF</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Mutual Fund</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">US Stock</a>
                <a class="nav-item nav-link link-body-emphasis" href="#"></a>
                <a class="nav-item nav-link link-body-emphasis" href="#"></a>
                <a class="nav-item nav-link link-body-emphasis" href="#"></a>
                <a class="nav-item nav-link link-body-emphasis" href="#">About Us</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Contact Us</a>
            </nav>
        </div>
    </div>

    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">Regular Income From NSE and BSE</h1>
                <p class="lead my-3">Not the time is to invest in multiple platform to generate regular income from NSE
                    and BSE
                    Which will easily gives you 12% to 15% profit annualy.</p>
                <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">About NSE</strong>
                        <!-- <h3 class="mb-0">Featured post</h3> -->
                        <!-- <div class="mb-1 text-body-secondary">Nov 12</div> -->
                        <p class="card-text mb-auto">The National Stock Exchange of India (NSE) is the leading stock
                            exchange in India. It was established in 1992 and is located in Mumbai.
                        </p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250">
                            <image xlink:href="assets/images/NSE_Logo.svg" width="200" height="250" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">About BSE</strong>
                        <!-- <h3 class="mb-0">Post title</h3> -->
                        <!-- <div class="mb-1 text-body-secondary">Nov 11</div> -->
                        <p class="mb-auto">The BSE (Bombay Stock Exchange) is one of the major stock exchanges in India.
                            It is located in Mumbai and is the oldest stock exchange in Asia, established in 1875.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250">
                            <image xlink:href="assets/images/bselogo.png" width="200" height="250" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-6">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Types Of Investments
                </h3>

                <article class="blog-post">
                    <h4 class="display-7 link-body-emphasis mb-1">Real Estate</h4>
                    <!-- <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p> -->

                    <p>Real estate investments involve purchasing properties, such as residential homes, commercial
                        buildings, or land, with the aim of generating rental income or capital appreciation. Real
                        estate can offer long-term returns and potential tax advantages.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Fixed Deposits (FD)</h4>
                    <p>Fixed deposits are one of the most popular investment options in India. They involve depositing a
                        lump sum of money with a bank or financial institution for a fixed period at a predetermined
                        interest rate. FDs offer stable returns and are considered relatively low-risk investments.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Public Provident Fund (PPF)</h4>
                    <p>PPF is a long-term savings scheme offered by the Indian government. It provides tax benefits and
                        offers a fixed interest rate. PPF accounts have a maturity period of 15 years, and the
                        contributions made are eligible for tax deductions under Section 80C of the Income Tax Act.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">National Savings Certificates (NSC)</h4>
                    <p>NSC is a savings scheme offered by the Indian Post Office. It has a fixed interest rate and a
                        maturity period of five or ten years. NSC investments also qualify for tax deductions under
                        Section 80C.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Gold</h4>
                    <p>Gold has long been considered a traditional investment option in India. Investors can buy
                        physical gold in the form of jewelry or gold coins/bars or invest in gold Exchange-Traded Funds
                        (ETFs), which are backed by physical gold.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Government Securities</h4>
                    <p>Government securities, such as government bonds and treasury bills, are issued by the Indian
                        government to borrow money from investors. These securities provide fixed interest payments and
                        are considered relatively safe investments.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Post Office Monthly Income Scheme (POMIS)</h4>
                    <p>POMIS is a savings scheme offered by the Indian Post Office. It provides a fixed monthly income
                        to investors who deposit a lump sum amount. POMIS offers stable returns but has certain
                        limitations on the maximum investment amount.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Employee Provident Fund (EPF)</h4>
                    <p>EPF is a retirement savings scheme in which both the employee and employer contribute a portion
                        of the employee's salary to the fund. EPF investments earn interest and provide a retirement
                        corpus for the employee.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Mutual Funds (MF)</h4>
                    <p>Mutual funds pool money from multiple investors to invest in a diversified portfolio of stocks,
                        bonds, or other securities. They are managed by professional fund managers and offer investors
                        the opportunity to participate in various market segments with different risk profiles.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Equity Shares</h4>
                    <p>Investing in equity shares means buying ownership stakes in publicly traded companies. Investors
                        can buy shares on stock exchanges like the National Stock Exchange (NSE) and the Bombay Stock
                        Exchange (BSE). Equity shares offer the potential for capital appreciation and dividends, but
                        they also carry higher risks compared to other investment options.</p>
                    <hr>
                    <h4 class="display-7 link-body-emphasis mb-1">Insurance</h4>
                    <p>Insurance is a financial arrangement where an individual or entity (the policyholder) pays a
                        premium to an insurance company in exchange for protection or compensation against potential
                        risks or losses. Insurance provides financial security and helps individuals or businesses
                        mitigate the impact of unforeseen events or circumstances.</p>
                    <hr>
                </article>
                <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
                    <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
                </nav>
            </div>

            <div class="col-md-6">
                <div style="top: 2rem;">
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Focus On</h4>
                        <p class="mb-0">This page is designed to tell you why to Investment in Stock Market. And how to
                            make 12% to 15% return anually.</p>
                    </div>
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Broker Providers</h4>
                        <p class="mb-0">When it comes to Invest in stock market, we need a brokerage account. Which will
                            be provided by various Broker Providers in India.</p>
                        <ul>
                            <li>Zerodha</li>
                            <li>Groww</li>
                            <li>ICICI Direct</li>
                            <li>HDFC Securities</li>
                            <li>Angel Broking</li>
                            <li>Kotak Securities</li>
                            <li>Upstox</li>
                            <li>Sharekhan</li>
                            <li>Others...</li>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Before Investment</h4>
                        <p class="mb-0">Things need to take care before starting any type of investment. All the below
                            details need to be same in all the documents.</p>
                        <ul>
                            <li>Name with: First, Middle, Last name format</li>
                            <li>Updated Photo with white background</li>
                            <li>Date Of Birth</li>
                            <li>Personal Mobile Number</li>
                            <li>Personal Email ID</li>
                            <li>Valid Permanent Address</li>
                            <li>Bank Saving Account Number</li>
                            <li>PAN Card</li>
                            <li>Aadhaar Card</li>
                            <li>DigiLocker Account</li>
                            <li>Link Aadhaar Number with PAN Number</li>
                            <li>All the above detail need to pass same on all the documents</li>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">TODO Before Investment</h4>
                        <p class="mb-0">Below are the factors need to discus or consider before doing any kind of
                            Investment.</p>
                        <ul>
                            <li>Inflation</li>
                            <small>Is your investment beats the inflation?</small>
                            <li>Recession</li>
                            <small>Is your investment gives you return during Recession?</small>
                            <li>Capital for 6 months</li>
                            <small>Do you have imergency fund for next 6 month to run your family?</small>
                            <li>Insurance</li>
                            <small>Do you have health insurance, term insurance and other asset insurances?</small>
                            <li>Gold</li>
                            <small>It is very important to invest in physical gold before starting any type of
                                Investment.</small>
                            <li>Initial Capital</li>
                            <small>How much minimum initial capital require for investment</small>
                            <li>Time Horizone</li>
                            <small>How much daily income generated from investment for shrot-term and long-term
                                duration.</small>
                        </ul>
                    </div>
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Online Calculators</h4>
                        <p class="mb-0">In case of any confusion, use various online calculator to compare between
                            Investments.</p>
                        <ul>
                            <li>Home Loan Calculator</li>
                            <li>Home Loan Pre Pay Calculator</li>
                            <li>Mutual Fund SIP Calculator</li>
                            <li>Bank FD Return Calculator</li>
                            <li>Loan EMI Calculator</li>
                            <li>LIC Return Calculator</li>
                            <li>Mutual Fund Lumsum Calculator</li>
                        </ul>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">June 2023</a></li>
                            <li><a href="#">May 2023</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h5>About Us</h5>
                    <p>This page is designed to tell you why to Investment in Stock Market. And how to make 12% to 15%
                        return anually.</p>
                </div>
                <div class="col-md-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contact Us</h5>
                    <p>123 Street, City</p>
                    <p>Email: example@example.com</p>
                    <p>Phone: 123-456-7890</p>
                </div>
            </div>
            <hr>
            <p class="text-center">© 2023 Your Website. All rights reserved.</p>
        </div>
    </footer>

</div>