<div class="container">
    <div class="row">
        <div class="col-6">
            You have a chance to invest in top 50 companies of India.
            These 50 companies covers much of the sectors like Oil, Banks, IT, FMCG, Automobile etc.
            The combine capital of these 50 companies is 60% of total share market companies. 
            If any company in loss then that will come out of this 50 rank.
            And if any company is generating more growth than any of the 50 company then it will replace company from the list.
            These companies growth will alwasy beat Inflation over the time.
            At time of recession also they share their profit as dividend to invseters
            If at time of recession if these companies are not generating revinue then when recession over then they grow in double digit.
            At the time of recession they also buy more competator companies or buy other quality companies.
            These companies also does share buy back during recession.
            These companies always give you minimum of 12% to 15% return annually.
            If you invest Rs.1000 or Rs.10000 then that ammount will be invested on these 50 companies based on their market capital.
            Based on profit or loss these 50 companies also change their rank on quaterly, half yearly and yearly basis.
            You can do SIP(systamatic investment plan) on these 50 companies starting from Rs1000 monthly.
            You may allowed to do lumsum investment starting from Rs 1000 on these companies.
            You are also allowed to do multiple SIP on these 50 companies and simusteniously lumsum investments on these companies.
            The SWP(systamatic withdrawl plan) also you can set. Means every month also you will receive some amount as you applied.(Ex Rs1000 or Rs10000 monthly)
            You can withdraw you invested money at point of time.
            You may withdraw part of your invested money as well at any point of time.
            When you save money in Banks then same Banks invest on these 50 big companies.
            So at end your money always invested on top 50 companies of India.
            You may do not need to track the market if you have stay invested for more than 3 years of time.
            Once you start earning from this type of investment then you will share the knowledge with your family and friends to earn more same way you invest.
            More the people invest in these 50 companies then your money will also grow.
            This how you will come out of traditional Gold and Real Estate investment approach.
            Now by sitting at home using your mobile phone you will able to do all these investments.
            Even anythig happend to you then all the money will be received by your nominee. 
            Last not the least more the pepole invest in share market then more your moeny will grow.
            If you do this investment in a very discipline manner then no need to save money in bank and also no need to take loan also.
            

            IT, Energy, Metal, FMCG are the basic drivers of market. When market crash then only FMCG will give you proper return then Energy.
            Economy, Socity and Environment are the three basic pilars of investment. 

        </div>
    </div>
</div>