<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            You have a chance to invest in top 50 companies of India.
            These 50 companies covers much of the sectors like Oil, Banks, IT, FMCG, Automobile etc.
            The combine capital of these 50 companies is 60% of total share market companies. 
            If any company in loss then that will come out of this 50 rank.
            And if any company is generating more growth than any of the 50 company then it will replace company from the list.
            These companies growth will always beat Inflation over the time.
            At time of recession also they share their profit as dividend to investors
            If at time of recession if these companies are not generating revenue then when recession over then they grow in double digit.
            At the time of recession they also buy more competitor companies or buy other quality companies.
            These companies also does share buy back during recession.
            These companies always give you minimum of 12% to 15% return annually.
            If you invest Rs.1000 or Rs.10000 then that amount will be invested on these 50 companies based on their market capital.
            Based on profit or loss these 50 companies also change their rank on quarterly, half yearly and yearly basis.
            You can do SIP(systematic investment plan) on these 50 companies starting from Rs1000 monthly.
            You may allowed to do lump sum investment starting from Rs 1000 on these companies.
            You are also allowed to do multiple SIP on these 50 companies and simultaneously lump sum investments on these companies.
            The SWP(systematic withdrawal plan) also you can set. Means every month also you will receive some amount as you applied.(Ex Rs1000 or Rs10000 monthly)
            You can withdraw you invested money at point of time.
            You may withdraw part of your invested money as well at any point of time.
            When you save money in Banks then same Banks invest on these 50 big companies.
            So at end your money always invested on top 50 companies of India.
            You may do not need to track the market if you have stay invested for more than 3 years of time.
            Once you start earning from this type of investment then you will share the knowledge with your family and friends to earn more same way you invest.
            More the people invest in these 50 companies then your money will also grow.
            This how you will come out of traditional Gold and Real Estate investment approach.
            Now by sitting at home using your mobile phone you will able to do all these investments.
            Even anything happened to you then all the money will be received by your nominee. 
            Last not the least more the people invest in share market then more your money will grow.
            If you do this investment in a very discipline manner then no need to save money in bank and also no need to take loan also.
            

            IT, Energy, Metal, FMCG are the basic drivers of market. When market crash then only FMCG will give you proper return then Energy.
            Economy, Society and Environment are the three basic pillars of investment. 

        </div>
    </div>
</div> -->
<div class="container">
    <div class="row py-5">
        <div class="col-3">
            <section class="left-nav">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                    </svg>
                    <span class="fs-5 fw-semibold"></span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            Mutual Fund Investment
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.amfiindia.com/')">AMFI</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.mutualfundssahihai.com/en')">More On
                                        MF</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.amfiindia.com/new-fund-offer')">Latest
                                        NFO</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.nseindia.com/products-services/mf-about-mfss')">About
                                        MF from NSE</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.etmoney.com/tools-and-calculators/mutual-fund-calculator')">MF
                                        Calculator</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.tickertape.in/screener/mutual-fund')">MF
                                        Screener</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.google.com/finance/quote/NIFTY_50:INDEXNSE?hl=en&window=MAX')">Real
                                        Time Nifty 50 Growth</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.amfiindia.com/investor-corner/online-center/monthlyfactsheets')">Fact
                                        Sheets</button>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse"
                            data-bs-target="#index-collapse" aria-expanded="true">
                            Popular Index Funds
                        </button>
                        <div class="collapse" id="index-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.sbimf.com/docs/default-source/scheme-factsheets/sbi-nifty-index-fund-factsheet-.pdf?sfvrsn=cdcf957_2')">SBI
                                        Nifty Index MF</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://files.hdfcfund.com/s3fs-public/Others/2021-05/HDFC%20Index%20Fund%20-%20Presentation%20April%2021.pdf')">HDFC
                                        Sensex Index MF</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.icicipruamc.com/docs/default-source/default-document-library/icici-prudential-nifty-it-index-fund-final-(1).pdf')">ICICI
                                        Nifty IT Index MF</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.axismf.com/cms/sites/default/files/pdf-factsheets/Axis%20NIFTY%20100%20Index%20Fund%20-%20PPT%20-%20April%202020.pdf')">AXIS
                                        Nifty 100 Index MF</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://www.icicipruamc.com/docs/default-source/default-document-library/icici-prudential-nasdaq-100-index-fund-(investor-version)-(2).pdf')">ICICI
                                        NASDAQ 100 Index MF</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://mf.nipponindiaim.com/FundsAndPerformance/NFODocuments/NipponIndia-Nifty-50-Value-20-Index-Fund.pdf')">Nippon
                                        India Nifty 50 Value 20 Index MF</button>
                                </li>
                                <li class="mb-1"><button
                                        (click)="openLinkInNewTab('https://mf.nipponindiaim.com/FundsAndPerformance/ProductNotes/NipponIndia-Gold-Savings-Fund.pdf')">NIPPON
                                        India GOLD ETFs</button>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-toggle align-items-center collapsed" data-bs-toggle="collapse"
                            data-bs-target="#how-collapse" aria-expanded="true">
                            Steps To Apply For MF
                        </button>
                        <div class="collapse" id="how-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li class="mb-1"><button>MF Investment does not require Trading Account</button>
                                </li>
                                <li class="mb-1"><button>Link Aadhaar and Pancard</button>
                                </li>
                                <li class="mb-1"><button>Create account in DigiLocker App / Website</button>
                                </li>
                                <li class="mb-1"><button (click)="openLinkInNewTab('https://www.sbimf.com/')">Visit any
                                        of the AMC website / branch</button>
                                </li>
                                <li class="mb-1"><button>Create new account at AMC online / branch</button>
                                </li>
                                <li class="mb-1"><button>Provide your personal detail while creating Account at
                                        AMC</button>
                                </li>
                                <li class="mb-1"><button>Then choose desired MF Investment Scheme</button>
                                </li>
                                <li class="mb-1"><button>Choose SIP Date and Amount / Lump sum Amount</button>
                                </li>
                                <li class="mb-1"><button>Add Nominee Detail to your MF Scheme</button>
                                </li>
                                <li class="mb-1"><button>Happy Investing...</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-9">
            <div class="resume">
                <div class="section-title">
                    <h4>MF Investment</h4>
                </div>
                <div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                            You have a chance to invest in top 50 companies of India.
                            These 50 companies covers much of the sectors like Oil, Banks, IT, FMCG, Automobile etc.
                            The combine capital of these 50 companies is 60% of total share market companies. 
                            If any company in loss then that will come out of this 50 rank.
                            And if any company is generating more growth than any of the 50 company then it will replace company from the list.
                            These companies growth will always beat Inflation over the time.
                            At time of recession also they share their profit as dividend to investors
                            If at time of recession if these companies are not generating revenue then when recession over then they grow in double digit.
                            At the time of recession they also buy more competitor companies or buy other quality companies.
                            These companies also does share buy back during recession.
                            These companies always give you minimum of 12% to 15% return annually.
                            If you invest Rs.1000 or Rs.10000 then that amount will be invested on these 50 companies based on their market capital.
                            Based on profit or loss these 50 companies also change their rank on quarterly, half yearly and yearly basis.
                            You can do SIP(systematic investment plan) on these 50 companies starting from Rs1000 monthly.
                            You may allowed to do lump sum investment starting from Rs 1000 on these companies.
                            You are also allowed to do multiple SIP on these 50 companies and simultaneously lump sum investments on these companies.
                            The SWP(systematic withdrawal plan) also you can set. Means every month also you will receive some amount as you applied.(Ex Rs1000 or Rs10000 monthly)
                            You can withdraw you invested money at point of time.
                            You may withdraw part of your invested money as well at any point of time.
                            When you save money in Banks then same Banks invest on these 50 big companies.
                            So at end your money always invested on top 50 companies of India.
                            You may do not need to track the market if you have stay invested for more than 3 years of time.
                            Once you start earning from this type of investment then you will share the knowledge with your family and friends to earn more same way you invest.
                            More the people invest in these 50 companies then your money will also grow.
                            This how you will come out of traditional Gold and Real Estate investment approach.
                            Now by sitting at home using your mobile phone you will able to do all these investments.
                            Even anything happen to you then all the money will be received by your nominee. 
                            Last not the least more the people invest in share market then more your money will grow.
                            If you do this investment in a very discipline manner then no need to save money in bank and also no need to take loan also.
                            
                
                            IT, Energy, Metal, FMCG are the basic drivers of market. When market crash then only FMCG will give you proper return then Energy.
                            Economy, Society and Environment are the three basic pillars of investment.
                    
                    </textarea>
                    </div>
                    <p class="resume-item mb-0">
                        We need to emphasizing the benefits of investing in the top 50 companies of India via <em
                            class="red">Nifty 50 Index Fund</em> and
                        promoting the idea of share market investments. While it's important to note that investing in
                        the stock market carries risks, it's also true that investing in well-established companies can
                        provide growth opportunities over the long term. Here's a summary of the points mentioned:
                    </p>
                    <p class="resume-item mb-0">
                        1. <em class="red">Diversification across Sectors:</em> Investing in the top 50 companies allows
                        exposure to various
                        sectors like Energy(OIL), Banks, IT, FMCG, and Automobiles. This diversification spreads the
                        risk and
                        allows participation in the growth potential of different industries.
                    </p>
                    <p class="resume-item mb-0">
                        2. <em class="red">Market Capitalization:</em> The combined market capitalization of these 50
                        companies represents a
                        significant portion of the total share market, indicating their size and prominence.
                    </p>
                    <p class="resume-item mb-0">
                        3. <em class="red">Dynamic Ranking:</em> The ranking of these companies can change based on
                        their financial
                        performance. Companies that experience losses may be replaced by others with better growth
                        prospects, ensuring a focus on high-performing entities.
                    </p>
                    <p class="resume-item mb-0">
                        4. <em class="red">Beating Inflation:</em> The expectation is that these companies will provide
                        growth that surpasses
                        inflation over time, helping to preserve and increase the purchasing power of investments.
                    </p>
                    <p class="resume-item mb-0">
                        5. <em class="red">Dividend Distribution:</em> Even during recessions, these companies share
                        their profits with
                        investors in the form of dividends, providing a potential source of income.
                    </p>
                    <p class="resume-item mb-0">
                        6. <em class="red">Recession Recovery and Expansion:</em> During recessions, these companies may
                        rebound strongly
                        once economic conditions improve. They may also acquire competitors or quality companies, taking
                        advantage of opportunities during downturns.
                    </p>
                    <p class="resume-item mb-0">
                        7. <em class="red">Share Buybacks:</em> Companies often buy back their shares during a
                        recession, signaling their
                        belief that the stock is undervalued and potentially increasing shareholder value.
                    </p>
                    <p class="resume-item mb-0">
                        8. <em class="red">Expected Returns:</em> Historically, these companies have provided annual
                        returns ranging from 12%
                        to 15%. However, it's essential to remember that past performance is not a guarantee of future
                        results, and investing in the stock market carries risks.
                    </p>
                    <p class="resume-item mb-0">
                        9. <em class="red">Investment Options:</em> You have the flexibility to invest through
                        systematic investment plans
                        (SIPs) or make Lump Sum investments. Multiple SIPs and simultaneous Lump Sum investments are
                        also possible. You can also set up systematic withdrawal plans (SWPs) to receive regular
                        payouts.
                    </p>
                    <p class="resume-item mb-0">
                        10. <em class="red">Banking Connections:</em> When you save money in banks, they may invest in
                        these top 50 companies
                        on your behalf, indirectly exposing you to these entities.
                    </p>
                    <p class="resume-item mb-0">
                        11. <em class="red">Ease of Investment:</em> Through mobile phones and online platforms,
                        investing in these companies
                        has become more accessible, allowing you to invest from the comfort of your home.
                    </p>
                    <p class="resume-item mb-0">
                        12. <em class="red">Nominee and Succession Planning:</em> By appointing a nominee, the invested
                        money can be received
                        by them in the event of unforeseen circumstances.
                    </p>
                    <p class="resume-item mb-0">
                        13. <em class="red">Sharing Knowledge and Growing Together:</em> By sharing your investment
                        knowledge with family and
                        friends, more people can potentially invest in these companies, fostering collective growth.
                    </p>
                    <p class="resume-item mb-0">
                        14. <em class="red">Moving Away from Traditional Investments:</em> Investing in these companies
                        provides an
                        alternative approach to traditional investments like gold and real estate.
                    </p>
                    <p class="resume-item mb-0">
                        15. <em class="red">Growing Market Participation:</em> Increased participation in the share
                        market can contribute to
                        overall market growth.
                    </p>
                    <p class="resume-item mb-0">
                        16. <em class="red">Recession Strategies:</em> During times of economic recession or market
                        uncertainty. All the investor move their money towards Large Cap Companies to reduce volatility.
                        Even most cases they move their money to Government Bonds or Gold.
                    </p>
                    <p class="resume-item mb-0">
                        17. <em class="red">Business Growth:</em> As companies receive capital and funding from
                        investors, they have the
                        potential to grow and expand their operations. This growth can lead to increased demand for
                        goods and services, which, in turn, can create a positive cycle of economic activity. Expansion
                        might require the hiring of more employees, leading to job creation.
                    </p>
                    <p class="resume-item mb-0">
                        Remember to conduct thorough research, understand your risk tolerance, and consider consulting
                        with a financial advisor before making investment decisions. They can provide personalized
                        advice based on your financial goals and individual circumstances.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h4>Ways To Invest In Mutual Fund</h4>
            <p>Connect with AMC(Asset Management Company) to initiate your MF investment journy.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <h5><a>AMC Examples</a></h5>
                    <p>You may start investing at AMCs through Online.</p>
                    <button (click)="openLinkInNewTab('https://www.sbimf.com/')">State Bank Of India MF</button>
                    <button (click)="openLinkInNewTab('https://mf.nipponindiaim.com/')">Nippon India MF</button>
                    <button (click)="openLinkInNewTab('https://www.icicipruamc.com/')">ICICI MF</button>
                    <button (click)="openLinkInNewTab('https://www.hdfcfund.com/')">HDFC MF</button>
                    <button (click)="openLinkInNewTab('https://www.axismf.com/')">Axis Bank MF</button>
                    <button (click)="openLinkInNewTab('https://www.motilaloswalmf.com/')">Motilal Oswal MF</button>
                    <button (click)="openLinkInNewTab('https://www.tatamutualfund.com/')">Tata MF</button>
                    <button (click)="openLinkInNewTab('https://www.kotakmf.com/')">Kotak MF</button>
                    <button (click)="openLinkInNewTab('https://www.utimf.com/')">UTI MF</button>
                    <button
                        (click)="openLinkInNewTab('https://groww.in/blog/top-amc-asset-management-company-india-biggest')">More
                        ...</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <h5><a>Types Of MF</a></h5>
                    <p>
                        There are several types of MFs available in India, each with its own investment
                        objective and asset allocation strategy.</p>
                    <button>Equity</button>
                    <button>Debt</button>
                    <button>Balanced</button>
                    <button>Index Funds</button>
                    <button>ELSS</button>
                    <button>Sector-Specific</button>
                    <button>Thematic</button>
                    <button>FOF</button>
                    <button>International</button>
                    <button>More...</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <h5><a>Common Terms</a></h5>
                    <p>Before Investing to MFs you should be aware of common terms as follows.</p>
                    <button>NFO</button>
                    <button>NAV</button>
                    <button>AUM</button>
                    <button>Expense Ratio</button>
                    <button>Exit Load</button>
                    <button>STT</button>
                    <button>Stamp Duty</button>
                    <button>SIP</button>
                    <button>Lump Sum</button>
                    <button>SWP</button>
                    <button>Switch Fund</button>
                    <button>Redeem Fund</button>
                    <button>More...</button>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>About Nifty 50 Index</h2>
            <p>The Nifty 50 Index, also known as the Nifty or the Nifty Fifty, is a benchmark stock market index in
                India. It represents the performance of the <em class="red">top 50 actively traded large-cap
                    companies</em> listed on the
                National Stock Exchange (NSE). These companies are chosen based on various criteria such as market
                capitalization, liquidity, and sector representation.</p>
        </div>
        <div class="row">
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="assets/images/nifty50_1.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="assets/images/nifty50_2.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="assets/images/nifty50_3.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-4 pt-lg-0 content">
                <div class="row resume">
                    <div class="col-lg-12 pt-4 pt-lg-0 content">
                        <p class="resume-item mb-0">
                            Since June 30, 1999, the Nifty 50 Total Return (TR) index has given annualized returns of
                            <em class="red">14.2% CAGR.</em>
                        </p>
                        <p class="resume-item mb-0">
                            Nifty 50 Price to Equity Ratio is <em class="red">26.45</em> and Price to Book Ratio is <em
                                class="red">4.33</em>.
                        </p>
                        <p class="resume-item mb-0">
                            The NIFTY 50 Index represents about <em class="red">62%</em> of the free float market
                            capitalization of the
                            stocks
                            listed on NSE as on September 30, 2022.
                        </p>
                        <p class="resume-item mb-0">
                            The NIFTY 50 is a diversified 50 stock index accounting for 13 sectors of the economy. It is
                            used for a variety of purposes such as benchmarking fund portfolios, index based derivatives
                            and
                            index funds.
                        </p>
                        <p class="resume-item mb-0">
                            Check out NSE link to know more about Nifty 50 Index.
                            <button
                                (click)="openLinkInNewTab('https://www.nseindia.com/products-services/indices-nifty50-index')">Nifty
                                50 Index</button>
                        </p>
                        <p class="resume-item mb-0">
                            You may read about Nifty 50 25 years Journey from this link.
                            <button
                                (click)="openLinkInNewTab('https://archives.nseindia.com/content/indices/25_Years_Journey_of_Nifty50_2022-01.pdf')">Nifty
                                50 in 25 Years</button>
                        </p>
                        <p class="resume-item mb-0">
                            Methodology Document for Equity Indices
                            <button
                                (click)="openLinkInNewTab('https://archives.nseindia.com/content/indices/Method_NIFTY_Equity_Indices.pdf')">Indices
                                Methodology</button>
                        </p>
                        <p class="resume-item mb-0">
                            Fact Sheet Of Nifty 50.
                            <button
                                (click)="openLinkInNewTab('https://archives.nseindia.com/content/indices/ind_nifty50.pdf')">Fact
                                Sheet</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->
<!-- ======= Services Section ======= -->
<section id="concepts">
    <app-mf-key-terms></app-mf-key-terms>
</section><!-- End Services Section -->
<!-- ======= Services Section ======= -->
<section id="type">
    <app-mf-type></app-mf-type>
</section><!-- End Services Section -->
<!-- ======= Services Section ======= -->
<section id="profit" class="services">
    <div class="container">
        <div class="section-title">
            <h4>Ways To Maximize Profit From MF Investment</h4>
            <p>Their are various ways to maximize profit from MF Investment, Let discuss those in detail.</p>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <h5><a>Guidelines</a></h5>
                    <p>To maximize profits in mutual fund (MF) investments, consider the following approach:
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> Set your SIP date after the 20th of
                        every month to coincide with the monthly Future and
                        Option expiry, as it is believed that the market may go down during this time.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> Use the SIP method for regular
                        investments and add lump sum payments once a month when you
                        observe the market going down by at least 2% from its monthly high.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> Aim to stay invested in MF for a
                        minimum of one year to disqualify for the lower tax rate
                        (15%)
                        on Short-Term Capital Gains (STCG) in India.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> After one year of investment, if you
                        decide to withdraw, you'll be subject to a 10% tax on
                        Long-Term Capital Gains (LTCG) applicable to profits exceeding 1 lakh rupees.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> If your MF returns exceed 20%, you may
                        consider redeeming that 20% capital gain to purchase
                        desired goods.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> During market corrections or
                        recessions, when NAVs are lower, consider investing more in MF
                        to buy more units, which could lead to higher returns when the market rebounds in the next 2 to
                        3 years.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> Make lump sum investments before 12 PM
                        in India, so the investment amount reflects for the
                        same day, and the NAV is generated after the market closes.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> You have the flexibility to
                        simultaneously invest in SIPs and make lump sum investments in
                        MFs to potentially generate significant profits.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> Choosing Index funds can be an option
                        for maximizing profits, particularly in the Finance,
                        IT, and Energy sectors, where greater returns are anticipated.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> Nifty 50 Index Fund or Sensex Index
                        Mutual Funds have historically provided good returns
                        compared to other funds in the long term in India.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> Passive Mutual Funds or Index Mutual
                        Funds generally have lower expense ratios compared to
                        other MF options.
                    </p>
                    <p>
                        <i class="bi bi-check-circle" style="color:#ec0000"></i> In case of emergencies, you can
                        partially or fully withdraw your investments from MFs as
                        needed.
                    </p>
                    <p>
                        Please note that investing involves risk, and the approach mentioned above may not guarantee
                        profits. It's crucial to consider your financial goals, risk tolerance, and seek professional
                        advice when making investment decisions.
                    </p>
                </div>
            </div>


        </div>
    </div>
</section><!-- End Services Section -->
<!-- ======= Services Section ======= -->
<section id="case_study" class="services">
    <div class="container">
        <div class="section-title">
            <h4>SBI Nifty Index Fund Direct Growth</h4>
            <p>Let Discuss about one of the popular SBI Index Mutual Fund Performance.</p>
            <p>This MF scheme always invest in NIFTY 50 Companies(Large Cap Companies) of India.</p>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <h5><a>Performance</a></h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Launch Date</td>
                                <td><button>17-Jan-2002</button></td>
                            </tr>
                            <tr>
                                <td>Returns for Regular growth</td>
                                <td><button>14.02% Since Inception</button></td>
                            </tr>
                            <tr>
                                <td>Current NAV</td>
                                <td><button>₹178.55</button></td>
                            </tr>
                            <tr>
                                <td>AUM as on 30 Jun 2023</td>
                                <td><button>₹4596.66 Cr</button></td>
                            </tr>
                            <tr>
                                <td>Benchmark</td>
                                <td><button>NIFTY 50 TRI</button></td>
                            </tr>
                            <tr>
                                <td>Suitable for</td>
                                <td><button>Long-Term Capital Appreciation</button></td>
                            </tr>
                            <tr>
                                <td>Fund Manager</td>
                                <td><button>Mr. Raviprakash Sharma</button></td>
                            </tr>
                            <tr>
                                <td>Standard Deviation</td>
                                <td><button>13.86%</button></td>
                            </tr>
                            <tr>
                                <td>Expense Ratio</td>
                                <td><button>0.18%</button></td>
                            </tr>
                            <tr>
                                <td>Exit load</td>
                                <td><button>0.20% if redeemed within 15 days</button></td>
                            </tr>
                            <tr>
                                <td>Stamp duty</td>
                                <td><button>0.005% (from July 1st, 2020)</button></td>
                            </tr>
                            <tr>
                                <td>P/E Ratio</td>
                                <td><button>23.51</button></td>
                            </tr>
                            <tr>
                                <td>P/B Ration</td>
                                <td><button>3.40</button></td>
                            </tr>
                            <tr>
                                <td>Minimum For 1st Investment</td>
                                <td><button>₹5000</button></td>
                            </tr>
                            <tr>
                                <td>Minimum For 2st Investment onwards</td>
                                <td><button>₹1000</button></td>
                            </tr>
                            <tr>
                                <td>Minimum for SIP</td>
                                <td><button>₹500</button></td>
                            </tr>
                            <tr>
                                <td>Equity Allocation</td>
                                <td><button>100%</button></td>
                            </tr>
                            <tr>
                                <td>Sector Allocation</td>
                                <td><button>Financial 34.93%</button>
                                    <button>IT 15.85%</button>
                                    <button>Energy 14.71%</button>
                                    <button>Fast Moving Consumer Goods 8.4%</button>
                                    <button>Automobile 5.95%</button>
                                    <button>Healthcare 3.98%</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Equity Holdings</td>
                                <td><button>Reliance Industries 10.2%</button>
                                    <button>HDFC Bank 8.9%</button>
                                    <button>ICICI Bank 7.7%</button>
                                    <button>Infosys LTD 5.6%</button>
                                    <button>ITC Ltd 4.7%</button>
                                    <button>TCS 4%</button>
                                    <button>L&T 3.5%</button>
                                    <button>And Others...</button>
                                </td>
                            </tr>
                            <tr>
                                <td>SBI MF Website</td>
                                <td><button
                                        (click)="openLinkInNewTab('https://www.sbimf.com/sbimf-scheme-details/sbi-nifty-index-fund-13')">SBI
                                        Nifty Index Fund</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <img src="assets/images/sbi_nifty_1.png" class="img-fluid" alt="">
                    <hr>
                    <img src="assets/images/sbi_nifty_2.png" class="img-fluid" alt="">
                    <hr>
                    <img src="assets/images/sbi_nifty_3.png" class="img-fluid" alt="">
                    <hr>
                    <img src="assets/images/sbi_nifty_4.png" class="img-fluid" alt="">
                    <hr>
                    <img src="assets/images/sbi_nifty_5.png" class="img-fluid" alt="">
                    <hr>
                    <table>
                        <tbody>
                            <tr>
                                <td>Monthly SIP of ₹5000 Per Month for 5 Years</td>
                                <td><button>Total Investment ₹3,00,000</button>
                                    <button>Would Have become ₹4,44,017 (+48.01%)</button>
                                </td>
                            </tr>
                            <hr>
                            <tr>
                                <td>Lumpsum / One-Time Investment of ₹1,00,000 for 5 Years</td>
                                <td><button>Total Investment ₹1,00,000</button>
                                    <button>Would Have become ₹1,80,524 (+80.52%)</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->
<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h4>Some of the Quality Mutual Funds</h4>
            <p>Below are the Mutual funds you may choose to invest.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <button
                        (click)="openLinkInNewTab('https://www.sbimf.com/sbimf-scheme-details/sbi-nifty-index-fund-13')">SBI
                        Nifty Index Fund</button>
                    <p>SBI Nifty Index Fund: This MF scheme is investing in <em class="red">Top 50(NIFTY 50)
                            companies</em> of India listed on NSE</p>
                    <button
                        (click)="openLinkInNewTab('https://www.hdfcsec.com/stock-market/mutual-fund-scheme/hdfc-index-fund-s-p-bse-sensex-plan-1081-116')">HDFC
                        S&P BSE Sensex MF</button>
                    <p>HDFC S&P BSE Sensex MF: This MF scheme is investing in <em class="red">Top 30(Sensex)
                            companies</em> of India listed on BSE</p>
                    <button
                        (click)="openLinkInNewTab('https://www.icicipruamc.com/icici-prudential-nasdaq-100-index-fund')">ICICI
                        Prudential NASDAQ 100 Index Fund</button>
                    <p>ICICI Prudential NASDAQ 100 Index Fund: This MF scheme is investing in <em class="red">Top 100
                            technology(NASDAQ 100) companies</em> of USA listed on US Stock</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <button
                        (click)="openLinkInNewTab('https://www.icicipruamc.com/icici-prudential-nifty-it-index-fund')">ICICI
                        PRUDENTIAL NIFTY IT INDEX FUND</button>
                    <p>ICICI PRUDENTIAL NIFTY IT INDEX FUND: This MF scheme is investing in <em class="red">Top 10 IT
                            companies</em> of India listed on NSE</p>
                    <button
                        (click)="openLinkInNewTab('https://www.axismf.com/mutual-funds/index-funds/axis-nifty-100-index-fund/ni-dg/direct')">Axis
                        Nifty 100 Index Fund Direct Growth</button>
                    <p>Axis Nifty 100 Index Fund Direct Growth: This MF scheme is investing in <em class="red">Top 100
                            companies</em> of India listed on NSE</p>
                    <button
                        (click)="openLinkInNewTab('https://mf.nipponindiaim.com/FundsAndPerformance/Pages/NipponIndia-Gold-Savings-Fund.aspx')">NIPPON
                        INDIA GOLD SAVINGS FUND</button>
                    <p>NIPPON INDIA GOLD SAVINGS FUND: This MF scheme is investing in Digital Gold through buying <em
                            class="red">Gold ETF</em></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <button
                        (click)="openLinkInNewTab('https://amc.ppfas.com/schemes/parag-parikh-flexi-cap-fund/')">Parag
                        Parikh Flexi Cap Fund</button>
                    <p>Parag Parikh Flexi Cap Fund: This MF scheme is investing in <em class="red">Large-Cap, Mid-Cap
                            and Small-Cap</em> Companies of India</p>
                    <button
                        (click)="openLinkInNewTab('https://mf.nipponindiaim.com/FundsAndPerformance/Pages/NipponIndia-Small-Cap-Fund.aspx')">NIPPON
                        INDIA SMALL CAP FUND</button>
                    <p>NIPPON INDIA SMALL CAP FUND: This MF scheme is investing in <em class="red">Small Cap
                            Companies</em> of India</p>
                    <button
                        (click)="openLinkInNewTab('https://www.icicipruamc.com/mutual-fund/hybrid-funds/icici-prudential-equity-debt-fund')">ICICI
                        Pru Equity & Debt Fund</button>
                    <p>ICICI Pru Equity & Debt Fund: This MF scheme is investing in <em class="red">Equity and
                            Government Bonds</em> of India. It is a Hybrid Mutual Fund.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->