<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border">
        <div class="col-lg-12 px-0">
            <h1 class="display-6 fst-italic text-primary-emphasis">Mutual Fund Screener
            </h1>
            <ul>
                <li>
                    Here is the mutual fund screener you can use to analyze and compare mutual funds based on various
                    parameters like returns, expense ratio, category, risk, etc.
                </li>
                <li>
                    Invest in businesses, not stocks.
                </li>
                <li>
                    Focus on intrinsic value, not market price.
                </li>
                <li>
                    Patience, discipline, and rationality matter more than intelligence.
                </li>
                <li>
                    Treat investing as ownership of a business, not trading of pieces of paper.
                </li>
            </ul>
        </div>
    </div>
    <h4 class="fst-italic">Search From ALL Available Mutual Funds</h4>
    <input type="text" class="form-control mb-3" placeholder="Search by Name" [(ngModel)]="searchText">
    <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
        <table class="table table-sm table-hover border-danger">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Option</th>
                    <th>AUM</th>
                    <th>3 Year Return</th>
                    <th>Expense Ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fund of filteredFunds()">
                    <td>{{ fund.name }}</td>
                    <td>{{ fund.option}}</td>
                    <td>{{ fund.aum}}</td>
                    <td>{{ fund.ret3y}}</td>
                    <td>{{ fund.expRatio}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>