<div class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border">
    <div class="col-lg-12 px-0">
      <h2 class="display-6 fst-italic text-primary-emphasis">Build Your Financial Roadmap Before the Journey Begins
      </h2>
      <p class="lead my-3">Financial planning is crucial before starting investing because it builds a solid foundation
        and ensures your money works for your goals, not just in markets.</p>
      <ul>
        <li>
          Rule No 1 : Clarify Your Goals
        </li>
        <li>
          Rule No 2 : Protect Against Emergencies
        </li>
        <li>
          Rule No 3 : Understand Your Risk Tolerance
        </li>
        <li>
          Rule No 4 : Prevent Overspending or Overinvesting
        </li>
        <li>
          Rule No 5 : Optimize Tax Saving
        </li>
        <li>
          Rule No 6 : Create Discipline and Tracking Of Investments
        </li>
      </ul>
      <p>
        <em class="heading">Liquid MF/FD
          -> Gold Physical/MF/ETF -> Nifty 50/100/500 Index MF -> Buy Land -> Direct Equity/Stock -> NPS/PPF/PF -> Buy Residential Flat / Build Retirement Home -> Other Active MF -> 
        International Stock Market (Nasdaq 100 / S&P 500 Index MF/ETF) -> Commodity Investment (Gold/Silver/Diamond) -> REITs/InvITs. (6 Months Emergency Fund, Term Insurance, Health Insurance)</em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="sidebar-header">
          <h5>Financial Planning</h5>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/dashboard')" routerLink="/planning/dashboard"
              (click)="setActive('dashboard')">
              <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/expenses')" routerLink="/planning/expenses"
              (click)="setActive('expenses')">
              <i class="bi bi-calculator me-2"></i> Monthly Expenses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/sip')" routerLink="/planning/sip" (click)="setActive('sip')">
              <i class="bi bi-calculator me-2"></i> SIP List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/lump-sum')" routerLink="/planning/lump-sum"
              (click)="setActive('lump-sum')">
              <i class="bi bi-calculator me-2"></i> Lump Sum List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/emi')" routerLink="/planning/emi" (click)="setActive('emi')">
              <i class="bi bi-calculator me-2"></i> EMI List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/income')" routerLink="/planning/income"
              (click)="setActive('income')">
              <i class="bi bi-calculator me-2"></i> Income List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/goal')" routerLink="/planning/goal"
              (click)="setActive('goal')">
              <i class="bi bi-bullseye me-2"></i> Goal List
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>